<form action="posts/create" method="POST">
    제목<br />
    <input type="text" name="head" /><br /><br />
    내용<br />
    <textarea rows="5" name="inside"></textarea>
    
    <input type="summit" name="글 쓰기" />
    
</form>